<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>delete record</title>-->
<!--</head>-->
<!--<body>-->

<!--    <h3>Remove user activity from the list</h3>-->

<!--<form action="/deleterecord" method="post">-->
<!--Employee Id <input type="text" name="id">-->
<!--<input type="submit" value="Submit">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
    <title>Delete Record</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h3>Remove user activity from the list</h3>

    <form action="/deleterecord" method="post">
        <div class="form-group">
<!--            <label for="id">Employee ID:</label>-->
<!--            <input type="text" class="form-control" id="id" name="id" required>-->
            <h1> Your Data is Successfully Deleted, Now create a new schedule by providing all the required details</h1>
        </div>
        <button type="submit"><a href="/index">Dashboard</a></button>
    </form>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
