<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <style> .container {
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            margin-top: 50px;
            text-align: center;
            background-color:#FFE5F1;
            height: 60%;
            width: 40%;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 10px;
        }</style>
    <div class="container">
      <h1>Sign Up</h1>
      <form action="{{ url_for('signup') }}" method="post">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </body>
</html>
